<%- include("partials/header"); -%>

<h1>Compose</h1>

<form action="/compose" method="POST">
    <div class="form-group">
        <label for="newTitle">Title</label>
        <input type="text" name="newTitle"  autocomplete="off" class="form-control" id="newTitle" aria-describedby="newTitle">
    </div>

    <div class="form-group">
        <label for="newPost">Post</label>
        <textarea class="form-control" id="newPost" rows="10" type="textarea" name="newPost" aria-describedby="newPost" autocomplete="off"></textarea>
        <button class="mt-4 btn btn-primary " type="submit" name="button">Publish</button>
        
        
    </div>
    
</form>


<%- include("partials/footer"); -%>







    
